<div id="<%= dom_id card %>">
  <p>
    <strong>Question:</strong>
    <%= card.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= card.answer %>
  </p>

  <p>
    <strong>Deck:</strong>
    <%= card.deck_id %>
  </p>

</div>
