<div id="<%= dom_id deck %>">
  <p>
    <strong>Topic:</strong>
    <%= deck.topic %>
  </p>

  <p>
    <strong>Card count:</strong>
    <%= deck.card_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= deck.user_id %>
  </p>

</div>
