<div id="<%= dom_id deck %>">
  <p>
    <h2><strong>Topic:</strong></h2>
    <strong><%= deck.topic %></strong>
  </p>

  <p>
    <strong>Card count:</strong>
    <%= deck.card_count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= deck.user_id %>
  </p>

</div>
